@import "tailwindcss";

.jumbotron-container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.jumbotron-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jumbotron-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  z-index: 2;
}
